.div-full {
  margin: 0 auto;
  margin-top: 5vh;
  transform: translateY(5%);
  max-width: 650px;
  display: grid;
}

.separator {
  text-align: center;
  font-size: 12px;
  font-size: 10px;
  margin-bottom: 5px;
}

.titre {
  text-align: center;
  background:#30859A ;
  color: white;
}

.oauth-button-linkedin {
  text-align: center;
}
