.block {
  //width: 140px;
  height: 100px;
  background-color: white;
  border-top-left-radius : 60px 40px;
  border-top-right-radius: 60px 40px;
  border-bottom-left-radius: 60px 40px;
  border-bottom-right-radius : 60px 40px;
}
