<div class="div-full"  fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="titre">Se connecter à Trello</h1>
    <form class="div-full" fxLayout="row" fxLayoutAlign="space-around center" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field color="warn">
          <input matInput placeholder="E-mail" id="email" name="email" ngModel required>
      </mat-form-field>
      <mat-form-field color="warn">
          <input type="password" matInput placeholder="Password" id="password" name="password" type="password" ngModel required>
      </mat-form-field>
      <a class="oauth-button-linkedin">
        <button class="btn btn-success" type="submit" [disabled]="f.invalid">Se connecter</button>
      </a>
      <a class="oauth-button-linkedin">
        <button  routerLink="/register" class="btn btn-danger" (click)="create()">S'inscrire</button>
      </a>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </mat-card>
</div>
