.login-card {
  max-width: 500px;
}
.div-full {
  margin: 0 auto;
  margin-top: 5vh;
  transform: translateY(15%);
  max-width: 600px;
  display: grid;
}
.conection {
  margin: 0 auto;
  background:#5AAC44
}

.oauth-image {
  margin-left: auto;
  margin-right: auto;
}

.titre {
  text-align: center;
  background:#30859A ;
  color: white;
}

.separator {
  text-align: center;
  font-size: 12px;
  font-size: 10px;
  margin-bottom: 5px;
}
.oauth-button-linkedin {
  text-align: center;
}

//<div fxLayout="row" fxLayoutAlign="space-around center">
//  <a class="oauth-button-linkedin" href="https://www.youtube.com/watch?v=9d8SzG4FPyM&list=RD4_1H8x_Z6GQ&index=4">
//      <div class="oauth-button-linkedin" fxLayout="row" fxLayoutAlign="center center">
//          <img src="assets/images/discord.jpg" class="oauth-image" height="42" width="42">
//      </div>
//  </a>
//</div>
