<div class="div-full"  fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="titre">Se connecter à Trello</h1>
    <form class="div-full" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field color="warn">
          <input matInput placeholder="E-mail">
      </mat-form-field>
      <mat-form-field color="warn">
          <input type="password" matInput placeholder="Password">
      </mat-form-field>
        <button class="btn btn-success">Se connecter</button>
    </form>
    <div class="autre">
    <div class="separator">OU</div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <a class="oauth-button-linkedin" href="https://www.youtube.com/watch?v=9d8SzG4FPyM&list=RD4_1H8x_Z6GQ&index=4">
          <div class="oauth-button-linkedin" fxLayout="row" fxLayoutAlign="center center">
              <img src="assets/images/discord.jpg" class="oauth-image" height="42" width="42">
          </div>
      </a>
    </div>
    </div>
  </mat-card>
</div>
