<div class="board-he ader">
</div>
<br>
<br>
<h1>{{title}}</h1>
<div class="stack">
  <div class="list" *ngFor="let cards of card">
    <h4 class="list-header"></h4>
    <ul>
      <li class="list-card">
        <input class="block1" type="text" value="{{cards.title}}">
      </li>
      <li class="list-card">
        <input class="block1" type="text" value="{{cards.label}}">
      </li>
       <textarea class="block2 list-card"> {{cards.description}} </textarea>
    </ul>
    <button class="btn new-card-button" (click)="delet(cards)">supprimer</button>
  </div>
  <button class="btn new-list-button" float="right" (click)="create()">+ ajouter cart</button>
</div>
