<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Nouveau projet</h2>
    <form (ngSubmit)="sub(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Nom</label>
        <input type="text" class="form-control" id="name" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="password">Déscription</label>
        <textarea class="form-control" id="description" name="description" ngModel> </textarea>
      </div>
      <button class="btn btn-success"
              type="submit"
              [disabled]="f.invalid">Enregistrer</button>
      <button class="btn btn-danger" (click)="back()">Anuller</button>
    </form>
  </div>
</div>
