<div class="container">
  <div class="row">
    <h1> Mes projets: </h1>
      <div class="col-lg-">
        <div class="list-group">
          <button class="liste-groupe-horizontal" *ngFor="let project of projects;let i = index" (click)="card(i)">
            <div class="block">
              <h1 class="test">{{project.title | uppercase }}</h1>
              <p> {{project.description}} </p>
              <button class="btn btn-danger pull-right" (click)="remove(project)">supprimé</button>
            </div>
          </button>
      </div>
      <button class="btn btn-success" (click)="add()">+</button>
  </div>
</div>
</div>
